/* General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;

  --primary-text-color: #181820;
  --secondary-text-color: #5c5c62;
  --durability-text-color: #6a737d9c;
  --icon-color: #6a737d;
  --border-color: #ff9a0045;
  --text-decoration-color: #ff9a00;
}

.container {
  margin: 0 auto;
  padding: 0 30px;
  max-width: 900px;
}

.fh {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.fv {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.resume {
  margin: 50px auto;
  border: 1px solid #f5f5f5;
  box-shadow: 1px 1px 7px 7px #f5f5f5;
  padding: 30px 0;
  max-width: 900px;
  position: relative;
}

.resume__block {
  border-bottom: 3px solid var(--border-color);
  padding-bottom: 30px;
  margin-bottom: 15px;
}

@media screen and (max-width: 576px) {
  .main-info,
  .contact_info_container {
    flex-direction: column;
  }

  .contact_info_container {
    align-items: center;
  }

  .contact-info__block:not(:last-child) {
    margin-bottom: 20px;
  }

  .experiences {
    margin-right: 0;
  }
}
/* End of General Styles */

/* Contact Info Styles */
.contact-info__header,
.contact-info__sub-header {
  text-align: center;
}

.contact-info__header {
  color: var(--primary-text-color);
  margin-bottom: 15px;
  text-decoration-color: var(--text-decoration-color);
  text-decoration-line: underline;
}

.contact-info__sub-header {
  color: var(--secondary-text-color);
  margin-bottom: 30px;
}

.contact-info__block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contact-info__block--center {
  justify-content: center;
}

.contact-info__item {
  color: var(--secondary-text-color);
  text-decoration: none;
  display: flex;
  justify-content: start;
}

.contact-info__item:not(:last-child) {
  margin-bottom: 20px;
}

.contact-info__item-icon-wrapper {
  margin-right: 10px;
  width: 20px;
  display: flex;
  justify-content: center;
}

.contact-info__item-icon path {
  fill: var(--icon-color);
}

.contact-info__item-icon {
  height: 1.1428rem;
  vertical-align: text-bottom;
}

.contact-info__avatar {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: cover;
  border: 3px solid;
  border-color: var(--text-decoration-color);
}
/* End of Contact Info Styles */

/* Intro and Skills Styles */
.intro {
  display: flex;
  justify-content: start;
}

.intro__icon-wrapper {
  margin-right: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
}

.intro__icon {
  height: 1.1428rem;
  vertical-align: text-bottom;
}

.intro__icon path {
  fill: var(--text-decoration-color);
}

.intro_text {
  color: var(--secondary-text-color);
  text-align: justify;
}

.skills__header {
  color: var(--secondary-text-color);
  text-align: center;
  margin-bottom: 15px;
}

.skills__text {
  color: var(--secondary-text-color);
  text-align: justify;
}
/* End of Intro and Skills Styles */

/* Experience and Additional Info Styles */
.experiences {
  flex: 1 1 60%;
  margin-right: 50px;
}

.experiences__header {
  color: var(--secondary-text-color);
  text-align: left;
  margin-bottom: 20px;
}

.experiences__company-header-durability {
  color: var(--durability-text-color);
  text-align: left;
  margin-bottom: 10px;
  font-size: 15px;
}

.experiences__company-header-name {
  color: var(--primary-text-color);
  text-decoration-color: var(--text-decoration-color);
  text-decoration-line: underline;
  text-align: left;
  margin-bottom: 20px;
}

.experiences__company-project {
  margin-left: 15px;
  margin-bottom: 25px;
}

.experiences__company-project-role {
  color: var(--durability-text-color);
  text-align: left;
  margin-bottom: 10px;
  font-size: 15px;
}

.experiences__company-project-name {
  color: var(--primary-text-color);
  text-align: left;
  margin-bottom: 10px;
}

.experiences__company-project-responsibilities {
  color: var(--secondary-text-color);
  padding-left: 20px;
}

.additional-info {
  flex: 1 1 40%;
}

.additional-info__education {
  margin-bottom: 20px;
}

.additional-info__education-header {
  color: var(--secondary-text-color);
  text-align: left;
  margin-bottom: 20px;
}

.additional-info__education-university-durability {
  color: var(--durability-text-color);
  text-align: left;
  margin-bottom: 10px;
  font-size: 15px;
}

.additional-info__education-university-speciality {
  color: var(--primary-text-color);
  text-align: left;
  margin-bottom: 10px;
}

.additional-info__education-university-name {
  color: var(--secondary-text-color);
}

.additional-info__languages {
  margin-bottom: 20px;
}

.additional-info__languages-header {
  color: var(--secondary-text-color);
  text-align: left;
  margin-bottom: 20px;
}

.additional-info__languages-item {
  color: var(--secondary-text-color);
}
/* End of Experience and Additional Info Styles */

/* ================================================= */

/* Styles of My Resume */

/* Common Styles */
:root {
  --black-color: black;
  --white-color: white;
  --white-color-high-opacity: rgba(255, 255, 255, 0.2);
  --white-moderate-opacity: rgba(255, 255, 255, 0.5);
  --grey-color: grey;
  --dark-grey-color: rgb(82, 79, 79);
  --light-grey-color: rgb(211, 199, 199);
  --orange-color: rgb(244, 166, 21);
}

* {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}
/* End of Common Styles */

/* Arrow-Link to My Resume */
.read-further-link {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.read-further-link i {
  border: 1px solid var(--grey-color);
  border-radius: 50%;
  font-size: 20px;
  padding: 15px;
  color: var(--dark-grey-color);
  transition: all 0.5s;
}

.read-further-link:hover i {
  scale: 1.2;
  color: var(--orange-color);
  border: 1.2px solid var(--orange-color);
  border-radius: 50%;
}
/* End of Arrow Link to My Resume */

/* My Resume Section 1 */
/* Navbar */

.my-resume-section-1 {
  width: 100%;
  height: 100vh;
  background: linear-gradient(
      var(--white-color-high-opacity),
      var(--white-moderate-opacity)
    ),
    url("assets/bg-image.jpg") center no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.navbar {
  position: absolute;
  z-index: 1;
  top: 0;
  width: 100%;
  height: 50px;
  background-color: var(--white-color-high-opacity);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.navbar-link {
  color: var(--dark-grey-color);
  letter-spacing: 2px;
  transition: all 0.5s;
}

.navbar-link:hover {
  color: var(--grey-color);
  scale: 1.2;
}
/* End of Navbar */

.my-resume-section-1-heading {
  color: var(--dark-grey-color);
  background-color: var(--light-grey-color);
  color: var(--white-color);
  text-shadow: 2px 2px 5px var(--dark-grey-color);
  padding: 0 30px;
  margin-bottom: 50px;
  transform: skewX(-10deg);
}

.person-img {
  height: 200px;
  border-radius: 50%;
  filter: blur(4px);
  transition: filter 1s;
  margin-bottom: 50px;
}

.person-img:hover {
  filter: blur(0);
}

.person-name {
  color: var(--white-color);
  letter-spacing: 2px;
  text-shadow: 2px 2px 5px var(--black-color);
  font-size: 25px;
}

/* End of My Resume Section 1 */

/* End of Styles of My Resume */
